<template>
  <div class="wrapper">

    <!-- counter inverted -->
    <div class="item item-inverted d-flex align-items-center justify-content-center">
      <ChessTimer1 />
    </div>

    <div class="controls d-flex justify-content-around align-items-center">

        <!-- pause -->
        <div class="control d-flex justify-content-center">
          <button class="pause btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16"><path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/></svg>
          </button>
        </div>

        <!-- restart -->
        <div class="control d-flex justify-content-center">
          <button class="restart btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/></svg>
          </button>
        </div>

        <!-- settings -->
        <div class="control d-flex justify-content-center">
          <button class="settings btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/></svg>
          </button>
        </div>
      
    </div>

    <!-- counter normal -->
    <div class="item d-flex align-items-center justify-content-center">
      <ChessTimer2 />
    </div>
  </div>
  
</template>

<script>
import ChessTimer1 from "~/components/chess-timer-1.vue";
import ChessTimer2 from "~/components/chess-timer-2.vue";


export default {
  components: {
    ChessTimer1,
    ChessTimer2
  }
}
</script>

<style lang="scss">

  .wrapper {
    height: 100vh;
    max-width: 768px;
    position: relative;
    display: block;
    margin: 0 auto;
    // controls
    .controls {
      height: 10vh;
      .control {
        width: 33vw;
        max-width: 100px;
        button.btn {
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, .66);
          }
        }
      }
    }
    // timers
    .item {
      height: 45vh;
      &.item-inverted {
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
      }
    }
  }

</style>


